<!-- <div style="margin-top: 300px">
  <h2>Rest Password</h2>
  <input type="email" placeholder="Email" required #emailReset>
  <input type="submit" class="btn" value="Reset" (click)= auth.ForgotPassword(emailReset.value)>
  <input type="submit" value="Sign In" id="send" (click)= auth.ForgotPassword(emailReset.value)>
  <span>Back to<span routerLink="/sign-in"></span>Log In</span>
</div> -->

<section class="contact-area ptb--100" id="contact">
  <div class="container">
    <div class="section-title">
      <h2>Reset Password</h2>
      <br>
      <p></p>
    </div>
    <div class="row ">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="contact-form">
          <form action="#" class="">
            
            <input type="email" placeholder="Email" required #emailReset> <br>
            <!-- <input type="password" placeholder="Password" #password required> <br> -->
            <!-- <p>No account?<a routerLink="/createAccount">Sign Up</a></p> -->
            <input type="submit" value="Reset " id="send" (click)= auth.ForgotPassword(emailReset.value)> <br>
            <!-- <p>Or sign Up with Google</p> -->
            <!-- <button (click)="auth.SignIn(email.value, password.value)">Log in</button> -->
            <!-- <button (click)="auth.googleSignIn()">google</button> -->
            <!-- <input type="submit" value="Google" id="send" (click)="auth.googleSignIn()"> <br> -->
            <a routerLink="/sign-in"> Back to Log In </a>
            <!-- <p>No account?<a routerLink="/createAccount">Sign Up</a></p> -->
          </form>
        </div>
      </div>
      
      
    </div>
  </div>
</section>
