<section class="contact-area ptb--100" id="contact">
  <div class="container">
    <div class="section-title">
      <h2>Sign In</h2>
      <br>
      <p></p>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="contact-form">
          <form action="#">
            <input required ngModel name="name" type="text" placeholder="Enter Your Name">
            <div class="alert alert-danger" *ngIf='name.touched && !name.valid'>Username is required</div>
            <input required ngModel type="text" name="password" placeholder="Enter Your Password">
            <div class="alert alert-danger" *ngIf='name.touched && !name.valid'>Password is required</div>
            <input type="submit" value="Sign In" id="send">
          </form>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- contact area end -->
