<!-- header area end -->
<!-- crumbs area start -->
<div class="crumbs-area">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="crumbs-inner">
          <!-- <p>
            Filter by
          </p> -->
          <div class="retailer-filter">
            <button type="button" class="btn btn-outline-primary rounded-lg" (click)="toggle()" style="font-size: 10px">
              Price
            </button>
            <button type="button" class="btn btn-outline-primary rounded-lg" (click)="toggleRating()" style="font-size: 10px">
              Rating
            </button>
            <input type="text" name="product" placeholder="Search For products" [(ngModel)]='searchterm' (keyup.enter)="searchProduct()">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="priceModal" id="priceModal" *ngIf="modalIsVisible">
  <div class="modContent">
    <div class="modHeader">
      <span class="close" (click)="toggle()">&times;</span>
    </div>
    <div class="customSlider">
      <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
      <div class="priceInputs">
      <strong>Min. Price     </strong><input type="number" value="{{minPrice}}" #minimum><br>
      <strong>Max. Price </strong><input type="number" value="{{maxPrice}}" #maximum>
      </div>
      <p (click)="filterByPrice(minimum.value, maximum.value)">Filter</p>
    </div>
    <div class="modBody">
    </div>
  </div>
</div>

<div class="ratingModal" id="ratingModal" *ngIf="ratingVisible">
  <div class="modHeader">
    <span class="close" (click)="toggleRating()">&times;</span>
  </div>
  <div class="modContentRating">
    <input type="radio" name="star" id="star5" value="5"><label for="star5" (click)="clickedFive()"></label>
    <input type="radio" name="star" id="star4" value="4" ><label for="star4" (click)="clickedFour()"></label>
    <input type="radio" name="star" id="star3" value="3"><label for="star3" (click)="clickedThree()"></label>
    <input type="radio" name="star" id="star2" value="2"><label for="star2" (click)="clickedTwo()"></label>
    <input type="radio" name="star" id="star1" value="1"><label for="star1" (click)="clickedOne()"></label>
  </div>
  <p class="filterText" (click)="filterByRating()">Filter</p>
</div>


<!-- crumbs area end -->
<!-- blog post area start -->
<div class="blog-post-area" >
  <div class="container">
    <div class="row">
      <div class="blog-list">


        <!-- skele -->
<div *ngIf="loading else complete">
  <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let i of Arr(num).fill(1)">
    <div class="list-item">
      <div class="blog-thumbnail">
        <ngx-skeleton-loader count="1" appearance="circle"
        [theme]="{
          'background-color':'lightgrey',
           width:'100%',
           height:'200px',
          'border-radius':'5px',
           margin:'auto'
        }"
        ></ngx-skeleton-loader>
      </div>
      <ngx-skeleton-loader appearance="lines" 
      [theme]="{
        'background-color':'lightgrey',
         width:'63%'
      }"
      ></ngx-skeleton-loader><br>
      <ngx-skeleton-loader appearance="lines"
      [theme]="{
        'background-color':'lightgrey',
         width:'74%'
      }"
      ></ngx-skeleton-loader>
      <div class="blog-meta">
        <div class="blog-summery">
          <ngx-skeleton-loader appearance="lines"
          [theme]="{
            'background-color':'lightgrey',
             width:'59%'
          }"
          ></ngx-skeleton-loader>
        </div>
        <ul>
          <li>
            <ngx-skeleton-loader count="5" appearance="circle"
            [theme]="{
              'background-color':'lightgrey', 
               width:'15px',
               height:'15px'
            }"
            ></ngx-skeleton-loader>
          </li>
          <ngx-skeleton-loader appearance="lines" 
          [theme]="{
            'background-color':'lightgrey',
             width:'40%',
             height:'35px',
             'margin-left':'10%'
          }"
          ></ngx-skeleton-loader>
        </ul>
      </div>
    </div>
</div>
</div>
        <!-- start -->
        <ng-template #complete>
            <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let prod of dealers">
                <div class="list-item" >
                  <div class="blog-thumbnail">
                    <a href="blog-details.html"><img src="{{prod.products.image}}" alt="blog thumbnail" onerror="this.onerror=null; this.src='https://www.metrorollerdoors.com.au/wp-content/uploads/2018/02/unavailable-image.jpg'"></a>
                  </div>
                  <p>{{prod.name}}</p>
                  <h2 class="blog-title">{{prod.products.name}}</h2>
                  <div class="blog-meta">
                    <div class="blog-summery">
                      <p>{{prod.products.price}} KES</p>
                      <p>{{prod.distance | slice:0:4 }} KM Away</p>
                    </div>
                    <ul>
                      <li class="retailerRating">
                        <input type="radio" name="star" [checked]="prod.rating == 5" id="stars1"><label for="stars1"></label>
                        <input type="radio" name="star" [checked]="prod.rating == 4" id="stars2"><label for="stars2"></label>
                        <input type="radio" name="star" [checked]="prod.rating == 3" id="stars3"><label for="stars3"></label>
                        <input type="radio" name="star" [checked]="prod.rating == 2" id="stars4"><label for="stars4"></label>
                        <input type="radio" name="star" [checked]="prod.rating == 1" id="stars5"><label for="stars5"></label>
                      </li>|
                      <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                        data-target="#basicExampleModal" style="font-size: 10px">
                        View Details
                      </button>
                    </ul>
                  </div>
                  <!-- <a href="blog.html" class="read-more">Read More</a> -->
                  <!-- Modal -->
                  <div class="modal fade rounded" id="basicExampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content ">
                        <div class="modal-header" style="background-color: #6668F9 !important">
                          <h5 class="modal-title text-center" id="exampleModalLabel">Product Details</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-md-8 ml-5">
                              <div class="list-item">
                                <!-- <div class="blog-thumbnail">
                                  <a href="blog-details.html"><img src="assets/img/blog/blog-post-img2.jpg"
                                      alt="blog thumbnail"></a>
                                </div> -->
                                <p>{{prod.name}}</p>
                                <h2 class="blog-title"><a href="#">{{prod.products.name}}</a></h2>
                                <div class="blog-meta">
                                  <div class="blog-summery">
                                    <p>{{prod.products.price}} KES</p>
                                    <h4>ABOUT RETAILER</h4>
                                    <p>DESCRIPTION: {{prod.description}}</p>
                                    <p>EMAIL: {{prod.email}}</p>
                                    <p>CONTACT: {{prod.contact}}</p>
                                  </div>
                                  <ul>
                                    <li>
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                      <i class="fa fa-star" aria-hidden="true"></i>
                                    </li>|
                                    <button type="button" class="btn btn-outline-primary rounded-lg" style="font-size: 10px">
                                      <a href="{{prod.link}}">Visit Store</a>
                                    </button>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            style="background-color: #6668F9 !important">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
        </ng-template>

        <!-- end of div -->
      </div>
    </div>
  </div>
</div>
