<!-- header area end -->
<!-- crumbs area start -->
<div class="crumbs-area">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="crumbs-inner">
          <!-- <p>
            Filter by
          </p> -->
          <div class="retailer-filter">
            <button type="button" class="btn btn-outline-primary rounded-lg" style="font-size: 10px">
              Price
            </button>
            <button type="button" class="btn btn-outline-primary rounded-lg" style="font-size: 10px">
              Rating
            </button>
            <input type="text" name="name" placeholder="Search For products">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- crumbs area end -->
<!-- blog post area start -->
<div class="blog-post-area">
  <div class="container">
    <div class="row">
      <div class="blog-list">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="list-item">
            <div class="blog-thumbnail">
              <a href="blog-details.html"><img src="assets/img/blog/blog-post-img.jpg" alt="blog thumbnail"></a>
            </div>
            <p>JUMIA FOODS</p>
            <h2 class="blog-title"><a href="#">BURGER</a></h2>
            <div class="blog-meta">
              <div class="blog-summery">
                <p>1200 KES</p>
              </div>
              <ul>
                <li>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </li>|
                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                  data-target="#basicExampleModal" style="font-size: 10px">
                  View Details
                </button>
              </ul>
            </div>
            <!-- <a href="blog.html" class="read-more">Read More</a> -->
            <!-- Modal -->
            <div class="modal fade rounded" id="basicExampleModal" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content ">
                  <div class="modal-header" style="background-color: #6668F9 !important">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Product Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-8 ml-5">
                        <div class="list-item">
                          <div class="blog-thumbnail">
                            <a href="blog-details.html"><img src="assets/img/blog/blog-post-img2.jpg"
                                alt="blog thumbnail"></a>
                          </div>
                          <p>JUMIA FOODS</p>
                          <h2 class="blog-title"><a href="#">BURGER</a></h2>
                          <div class="blog-meta">
                            <div class="blog-summery">
                              <p>1200 KES</p>
                            </div>
                            <ul>
                              <li>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                              </li>|
                              <button type="button" class="btn btn-outline-primary rounded-lg" style="font-size: 10px">
                                View Details
                              </button>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                      style="background-color: #6668F9 !important">Close</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="list-item">
            <div class="blog-thumbnail">
              <a href="blog-details.html"><img src="assets/img/blog/blog-post-img1.jpg" alt="blog thumbnail"></a>
            </div>
            <p>JUMIA FOODS</p>
            <h2 class="blog-title"><a href="#">BURGER</a></h2>
            <div class="blog-meta">
              <div class="blog-summery">
                <p>1200 KES</p>
              </div>
              <ul>
                <li>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </li>|
                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                  data-target="#basicExampleModal" style="font-size: 10px">
                  View Details
                </button>
              </ul>
            </div>

          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="list-item">
            <div class="blog-thumbnail">
              <a href="blog-details.html"><img src="assets/img/blog/blog-post-img2.jpg" alt="blog thumbnail"></a>
            </div>
            <p>JUMIA FOODS</p>
            <h2 class="blog-title"><a href="#">BURGER</a></h2>
            <div class="blog-meta">
              <div class="blog-summery">
                <p>1200 KES</p>
              </div>
              <ul>
                <li>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </li>|
                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                  data-target="#basicExampleModal" style="font-size: 10px">
                  View Details
                </button>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
