<!-- header area end -->
<!-- slider area start -->
<section class="slider-area" id="home">
  <div class="container">
    <div class="col-md-6 col-sm-6 hidden-xs">
      <div class="row">
        <div class="slider-img">
          <img src="assets/img/mobile/slider-left-img.png" alt="slider image">
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="row ">
        <div class="slider-inner text-right">
          <h2 style="letter-spacing: 0.5rem">WELCOME TO S.I.F.T</h2>
          <h5>Find A Retailer Near You !</h5>



  <div *ngIf="auth.user$ | async as user; else login">
    <img src="{{user.photoURL}}">
    <button (click)="auth.signOut()">Sign Out</button>
  </div>


          <div class="contact-form">
            <form action="#">
              <input type="text" name="name" placeholder="Search For products">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
